<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Landpage</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="css/base.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark custom-color py-3">
		  <a class="navbar-brand" href="#">Drescher Data Solutions</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="Service.html">Services</a>
				      </li>
							<li class="nav-item">
								<a class="nav-link" href="#">Pricing</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
			    </ul>
		  </div>
		</nav>
		<img class='image fullscreen' src="media/fresh.png" alt="fresh">
		<br> <br> <br>
		<div class="container">
		  <div class="row">
		    <div class="col-md-auto">
		      <img src="media/newcloud.png" alt="">
		    </div>
		    <div class="col-6">
					<div class="media">
						<div class="media-body">
							<h5 id='header' class="mt-0">Cloud</h5>
							<p>Save everything to one place <br>for constant accuracy,<br> and connect from anywhere</p>
						</div>
					</div>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col">
		    </div>
				<div class="col">
				</div>
		    <div class="col-md-auto">
		      <div class="media">
		      	<div class="media-body">
		      		<h5 id='header' class="mt-0">Efficiency</h5>
							<p>Manage your resources,<br> increase your profits,<br> and maximise your business hours</p>
		      	</div>
		      </div>
		    </div>
		    <div class="col-md-auto">
		      <img src="media/freshchart.png" alt="words">
		    </div>
		  </div>
			<div class="row">
			 <div class="col-md-auto">
				 <img src="media/mag.png" alt=''>
			 </div>
			 <div class="col-6">
				 <div class="media">
					 <div class="media-body">
						 <h5 id='header' class="mt-0">Insight</h5>
						 <p>Keep track of every aspect of <br>your business, to draw new <br>conclusions that lead to direct profit</p>
				 	</div>
				 </div>
			 </div>
		 </div>
		</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</html>
