<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Landpage</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/services.css">
		<link rel="stylesheet" href="css/pricing.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="landpage.html">Drescher Data Solutions</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Services</a>
		      </li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
		    </ul>
		  </div>
		</nav>
		<div class="image">
			<img src="media/banner.png" alt="Banner" style="width:100%">
			<div class="center">
				<h1>Pricing</h1>
				<div class="relocate">
						<img src="media/money.png" alt="">
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="container">
		  <div class="row">
		    <div class="col-5">
					<div class="media">
						<div class="media-body">
							<h2 id="header">We Understand</h2>
							<p id="smaller">Your business is complicated and unique,
							so is our pricing. The advantages to migrating
							to the cloud are clear, but we know cost is
							 a hesitation. That is why we offer affordable
							 pricing to launch you business to new depths,
							 using every piece of data possible. Pricing is
							 project based, but we can give you an offer within
							 24 hours, and deliver the final product within two weeks.
							</p>
						</div>
					</div>
		    </div>
				<div class="col-md-auto">
					<img id='timeline' src="media/timeline@2x.png" alt="">
					<h2 class="move" id='header'>Timeline</h2>
				</div>
		  </div>
	</body>
</html>
