<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Landpage</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/services.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
		  <a class="navbar-brand" href="landpage.html">Drescher Data Solutions</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Services</a>
		      </li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
		    </ul>
		  </div>
		</nav>
		<div class="image">
			<img src="media/banner.png" alt="Banner" style="width:100%">
			<div class="center">
				<h1>Services</h1>
				<div class="relocate">
						<img id='wrench' src="media/bigwrench@2x.png" alt="">
				</div>
			</div>
		</div>


		<br> <br> <br>
		<div class="container">
		  <div class="row">
		    <div class="col-5">
					<div class="media">
						<img src="media/upload@2x.png" alt="" id='upload'>
						<div class="media-body">
							<h2 id="header">Cloud Migration</h2>
								<p>Go paperless and move your
									company data to a cloud
								 platform of your choosing
								</p>
						</div>
					</div>
		    </div>
		  </div>

		  <div class="row">
				<div class="col-8">

				</div>
		    <div id="right" class="col-6">
		      <div class="media">
		      	<div class="media-body">
							<h2 id="header">System Design</h2>
								<p>Create comlete cloud database
									 system. Your business is unique, your storage platform is too</p>
		      	</div>
						<img id="chart" src="media/freshchart.png" alt="words">
		    	</div>
	  		</div>
			</div>

			<div class="row">
			 <div class="col-6">
				 <div class="media">
					 <img src="media/mag.png" alt=''>
					 <div class="media-body">
						 <h2 id="header">Email Subscription</h2>
						 <p>Add dynamic functionality to <br>
							 your website to send mass <br>
							 emails to a subscription list</p>
					 </div>
				 </div>
			 </div>
		 </div>

		 <div class="row">
			 <div class="col-8">
			 </div>
			 <div id="right" class="col-5">
				 <div class="media">
					 <div class="media-body">
						 <h2 id="header">User Functionality</h2>
						 <p>Allow your users to start an
							  account to manage all of their
								contracts with your business.
							  The level of client interaction is your
								choice, and completely unlimited
					 </div>
					 <img id="user" src="media/users@2x.png" alt="words">
				 </div>
			 </div>
		 </div>

		</div>
	</body>
</html>
