{% extends "pagebase.html" %}
{% load staticfiles %}

	{% block header %}
		About
	{% endblock %}

	{% block img_header %}
		<img id='wrench' src="{% static 'media/about@2x.png' %}" style="margin-left: 30px; margin-top: 80px">
	{% endblock %}

	{% block body %}
	<div class="container">
		<table>
			<tr>
				<td>
					<h2 id="header">Who We Are</h2>
					<p id="smaller">
							Our goal is to provide effective cloud and database solutions to small businessses
							that would benefit from increased analysis and data storage. Our business creates web
							facing database systems specifically tailored to small business needs to analyze sale trends
							and increase business profits
					</p></td>
				<td><img id='timeline' src="{% static "media/clouddiagram@2x.png" %}" alt=""></td>
			</tr>
		</table>
		</div>
	</div>

	{% endblock %}
