<!DOCTYPE html>
{% extends 'pagebase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

	{% block header %}
		Contact
	{% endblock %}

	{% block img_header %}
		<img id='wrench' src="{% static "media/phone@2x.png" %}" alt="" style="margin-left:30px; margin-top: 50px;">
	{% endblock %}

	{% block body %}
		<div class="container">
			<div class="row">
				<div class="col-5">
					<div class="media">
						<div class="media-body">
							<h2 id="header">Get in touch</h2>
							<p id="smaller">We want your business, and we’re willing to do anything you need,
								 whether it is late night calls or simple emails, our communications team is on it.
							</p>
						</div>
					</div>
				</div>
				<div class="col-6">
					<form class="" method="post">
						{% csrf_token %}
					 	{{ form|crispy }}
						<button class='btn btn-outline-secondary' type="submit" name="button">Send</button>
					</form>
			</div>
		</div>
	 {% endblock %}
