<!DOCTYPE html>
{% extends 'pagebase.html' %}
{% load staticfiles %}

	{% block header %}
		Services
	{% endblock %}

	{% block img_header %}
		<img id='wrench' src="{% static "media/bigwrench@2x.png" %}"alt="">
	{% endblock %}

	{% block body %}
		<div class="container">
		  <div class="row">
		    <div class="col-5">
					<div class="media">
						<img src="{% static "media/upload@2x.png" %}" alt="" id='upload'>
						<div class="media-body">
							<h2 id="header">Cloud Migration</h2>
								<p>Go paperless and move your
									company data to a cloud
								 platform of your choosing
								</p>
						</div>
					</div>
		    </div>
		  </div>

		  <div class="row">
				<div class="col-8">

				</div>
		    <div id="right" class="col-6">
		      <div class="media">
		      	<div class="media-body">
							<h2 id="header">System Design</h2>
								<p>Create comlete cloud database
									 system. Your business is unique, your storage platform is too</p>
		      	</div>
						<img id="chart" src="{% static "media/freshchart.png" %}" alt="words">
		    	</div>
	  		</div>
			</div>

			<div class="row">
			 <div class="col-6">
				 <div class="media">
					 <img src="{% static "media/mail.png" %}" alt=''>
					 <div class="media-body">
						 <h2 id="header">Email Subscription</h2>
						 <p>Add dynamic functionality to <br>
							 your website to send mass <br>
							 emails to a subscription list
							 fix color: EEF5FF
						 </p>
					 </div>
				 </div>
			 </div>
		 </div>

		 <div class="row">
			 <div class="col-8">
			 </div>
			 <div id="right" class="col-5">
				 <div class="media">
					 <div class="media-body">
						 <h2 id="header">User Functionality</h2>
						 <p>Allow your users to start an
							  account to manage all of their
								contracts with your business.
							  The level of client interaction is your
								choice, and completely unlimited
					 </div>
					 <img id="user" src="{% static "media/users@2x.png" %}" alt="words">
				 </div>
			 </div>
		 </div>
	 </div>
	 {% endblock %}
