.fullscreen {
	width: 100%;
	height: auto;
	margin: 0px;
}

.image {
    position: relative;
    text-align: center;
		box-shadow: 0px 3px 10px grey;
		z-index: -1;
}


body {
	margin: 0px;
	background-color: #EEF5FF;
}

.custom-color {
	background-color: #2E2E2E;
}

#header {
	font: Futura;
	font-size: 300%;
	color: #2E6A7B;
	text-shadow: 0px 1px 1px #676767;
}

p {
	font: Future PT;
	font-size: 110%;
	color: #8099A0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1BCFFF;
}

h2 {
	font-size: 300%;
}
