.fullscreen {
	width: 100%;
	height: auto;
	margin: 0px;
}

.image {
    position: relative;
    text-align: center;
		box-shadow: 0px 3px 10px grey;
}


body {
	margin: 0px;
	background-color: #EEF5FF;
}

.custom-color {
	background-color: #2E2E2E;
}

#header {
	font: Futura;
	font-size: 50;
	color: #2E6A7B;
	text-shadow: 0px 1px 1px #676767;
}

p {
	font: Future PT;
	font-size: 25px;
	color: #8099A0;
}
