
h1 {
	font: Futura;
	color: white;
	font-size: 80px;
	text-shadow: 0px 2px 5px grey;
}

.center {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.relocate {
	position: absolute;
	top: 60%;
	left: 100%;
	transform: translate(0%, -50%);
}

#wrench {
 	height: 200px;
}

#upload {
	height: 220px;
}

#chart {
	height: 170px;
	margin-left: 0px;
}

.row {
	margin-bottom: 15px;
}

#justify {
	text-align: justify;
}

#right {
	float: right;
	margin-left: 45%
}

#user {
  margin-left: 30px;
  height: 170px;
}
